<div class="nav-bar-ct">
  <img [src]="currentUser?.avatar" alt="brand" class="nav-item" />
  <img
    class="nav-item"
    [src]="
      route.url === '/'
        ? '../../../assets/svgs/home_active.svg'
        : '../../../assets/svgs/home.svg'
    "
    alt="home"
    (click)="route.navigate(['/'])"
  />
  <img
    class="nav-item"
    [src]="
      route.url === '/chats'
        ? '../../../assets/svgs/chat_active.svg'
        : '../../../assets/svgs/chat.svg'
    "
    alt="chat"
    (click)="route.navigate(['/chats'])"
  />
  <img
    class="nav-item"
    [src]="
      route.url === '/settings'
        ? '../../../assets/svgs/setting_active.svg'
        : '../../../assets/svgs/setting.svg'
    "
    alt="setting"
    (click)="route.navigate(['/settings'])"
  />
</div>
