<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo">
            <img [src]="currentUser?.avatar" alt="" srcset="" style="height: 50px; width: 50px; margin-right: 10px;">
            <span style="color: white;" [innerText]="currentUser?.username"></span>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <li nz-submenu nzTitle="User">
                <ul>
                    <li nz-menu-item>Product List</li>
                    <li nz-menu-item>Bill</li>
                    <li nz-menu-item>Alex</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Team">
                <ul>
                    <li nz-menu-item>Team 1</li>
                    <li nz-menu-item>Team 2</li>
                </ul>
            </li>
            <li nz-menu-item>
                <span>File</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'left' : 'right'"
                (click)="isCollapsed = !isCollapsed"></i>
        </nz-header>
        <nz-content style="overflow-y: scroll;">
            <nz-breadcrumb>
                <nz-breadcrumb-item>User</nz-breadcrumb-item>
                <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
            </nz-breadcrumb>
            <div class="inner-content">
                <ng-content></ng-content>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>