<div class="prod-modal-ct">
  <div class="prod-modal-layout">
    <form>
      <label>Name: </label>
      <input
        class="form-control"
        type="text"
        [value]="name"
        (change)="name = $event.target.value"
      />
    </form>

    <form>
      <label>Price: </label>
      <input
        type="number"
        class="form-control"
        min="0"
        [value]="price"
        (change)="price = $event.target.value"
      />
    </form>
    <form>
      <label>Discount (%): </label>
      <input
        type="number"
        class="form-control"
        min="0"
        max="100"
        [value]="discount"
        (change)="discount = $event.target.value"
      />
    </form>
    <form>
      <label>Image url: </label>
      <input
        type="file"
        (change)="onFileChange($event)"
        name="product-media"
        id="product-media"
        multiple
      />
      <button (click)="onSubmit($event)">Upload Media</button>
    </form>
  </div>
  <div class="prod-modal-layout">
    <form>
      <label>Category: </label>
      <select
        class="form-control"
        [value]="category"
        (change)="category = $event.target.value"
      >
        <option value="book">book</option>
        <option value="technology">technology</option>
        <option value="food">food</option>
      </select>
    </form>
    <form>
      <label>Manufacturer: </label>
      <input
        class="form-control"
        type="text"
        [value]="manufacturer"
        (change)="manufacturer = $event.target.value"
      />
    </form>
    <form>
      <label>Description: </label>
      <textarea
        class="form-control"
        rows="5"
        [value]="description"
        (change)="description = $event.target.value"
      ></textarea>
    </form>
  </div>
</div>
<button>Add</button>
