<h5 mat-dialog-title style="display: flex; justify-content: space-between;">
    <span>Select Product Image</span>
    <button mat-dialog-close="">Close</button>
</h5>

<mat-dialog-content>
    <img *ngFor="let mediaItem of imageMedia; index as i" [src]="mediaItem" alt="filename"
        style="height: 100px; width: 100px; margin: 5px;" />

    <button mat-button style="height: 100px; width: 100px;">+</button>
</mat-dialog-content>

<mat-dialog-actions>
    <button>Images</button>
    <button>Videos</button>
</mat-dialog-actions>