// colors
$white: white;
$black: black;

$gray: rgb(236, 236, 236);
$lightGray: rgb(248, 249, 250);
$darkGray: rgb(118, 118, 118);

$blue: darkblue;
$darkBlue: #232f3e;
$cornFlowerBlue: cornflowerblue;

$scarlet: #dc3545;

$gold: #f0c14b;
$darkGold: #a88734;
$goldBrown: #846a29;
$goldenRod: goldenrod;
$lightCopperBrown: #9c7e31;
$darkCopperBrown: #846a29;

$greenLink: #007185;

$pink: #FCA598;

$bottomBlur: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

$greenChat: #01BEA7;