@import './colors';

// sizes
$small: 540px;
$medium: 720px;
$large: 990px;
$extraLarge: 1140px;

// layouts
@mixin parentLayout {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
}

// common styles
@mixin goldenBtn {
  background: $gold;
  border-radius: 2px;
  width: 100%;
  border-color: $darkGold $lightCopperBrown $darkCopperBrown;
  border-style: solid;
  border-width: 1px;
  height: 40px;
}

@mixin quantityGroupBtn {
  display: flex;
  align-items: center;

  input {
    width: 50px;
    margin: 10px;
  }

  button {
    @include goldenBtn;
    height: 30px;
    font-size: larger;
    font-weight: bolder;
  }
}

@mixin avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 10px;
}

@mixin cmtTextBox {
  flex: 1;
  border: 0;
  background-color: $gray;
  padding: 10px;
  border-radius: 20px;

  &:focus {
    border: none;
    outline: none;
  }
}

@mixin customedScrollbar {

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}