<app-layout style="overflow: scroll;">
  <div class="product-modal-ct">
    <div class="product-modal-layout">
      <label>Product Id: {{currentProduct?._id}}</label>
      <label>Name: </label>
      <input class="form-control" type="text" [value]="currentProduct?.name"
        (change)="currentProduct.name = $event.target.value" />

      <label>Product Image: </label>
      <div class="prod-img-ct" [ngStyle]="{
            'background-image': 'url(' + currentProduct?.productImage + ')'
          }" (click)="openMediaModal()">
        <img src="../../../assets/svgs/edit.svg" alt="edit-prod" class="middle" />
      </div>

      <label>Price: </label>
      <input type="number" class="form-control" min="0" [value]="currentProduct?.price"
        (change)="currentProduct.price = $event.target.value" />

      <label>Discount (%): </label>
      <input type="number" class="form-control" min="0" max="100" [value]="currentProduct?.discount"
        (change)="currentProduct.discount = $event.target.value" />

      <label>Variants:
        <img class="add-variant-btn" (click)="openVariantModal = !openVariantModal" [src]="
              openVariantModal
                ? '../../../assets/svgs/close.svg'
                : '../../../assets/svgs/add.svg'
            " alt="add-variant" /></label>

      <app-variant-model *ngIf="openVariantModal" [variantName]="variantName" [propName]="propName"
        [propPrice]="propPrice" [propImgUrl]="propImgUrl" (closeModalEvent)="updateVariant($event)"></app-variant-model>

      <div *ngFor="let vrt of currentProduct?.variants | keyvalue; index as i">
        <div class="variant-item-ct" [id]="vrt.key + '-' + i + '-variantCt'">
          <b [innerText]="vrt.key"></b>
          <div class="variant-prop-ct" *ngFor="let varProp of vrt.value; index as y" draggable="true"
            (drop)="dropMedia($event)" (dragover)="allowDrag($event)" (dragstart)="dragMedia($event)"
            [id]="vrt.key + '-' + y + '-variantItem'">
            <span [innerText]="varProp.propName"></span>
            <span [innerText]="varProp.propPrice + '$'"></span>
            <img [src]="varProp.propImgUrl" alt="prop-img" draggable="false" />
            <img (click)="removeVariant(vrt.key, y)" src="../../../assets/svgs/delete.svg" alt="del-variant" />
          </div>
        </div>
      </div>
    </div>

    <div class="product-modal-layout">
      <button nz-button (click)="editProd()" [innerText]="savingChange ? 'Saving ...' : 'Save'"
        [disabled]="savingChange" class="save-change-btn"></button>
      <label>Category: </label>
      <select class="form-control" [value]="currentProduct?.category"
        (change)="currentProduct.category = $event.target.value">
        <option value="book">book</option>
        <option value="technology">technology</option>
        <option value="food">food</option>
      </select>

      <label>Manufacturer: </label>
      <input class="form-control" type="text" [value]="currentProduct?.manufacturer"
        (change)="currentProduct.manufacturer = $event.target.value" />

      <label>Description: </label>
      <textarea class="form-control" rows="5" [value]="currentProduct?.description"
        (change)="currentProduct.description = $event.target.value"></textarea>
    </div>
  </div>
</app-layout>