<table>
  <tr>
    <th>Index</th>
    <th>Product Name</th>
    <th>Product Id</th>
    <th>Product Media</th>
    <th>In Stock</th>
    <th>Sold</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let prod of prods; index as i; first as isFirst">
    <td [innerText]="i + 1"></td>
    <td [innerText]="prod?._id"></td>
    <td [innerText]="prod?.name"></td>
    <td>
      <img [src]="prod?.productImage" alt="prod-img" class="prod-img" />
    </td>
    <td [innerText]="prod?.inStock"></td>
    <td [innerText]="0"></td>
    <td>
      <img
        src="../../../assets/svgs/edit.svg"
        alt="edit"
        class="prod-action"
        (click)="onEditProd(prod._id)"
      />
      <img
        src="../../../assets/svgs/delete.svg"
        alt="delete"
        class="prod-action"
      />
    </td>
  </tr>
</table>
