<div class="variant-model">
  <label for="variant-name">Variant Name:</label>
  <input
    type="text"
    class="form-control"
    name="variant-name"
    [value]="variantName"
    (change)="variantName = $event.target.value"
    placeholder="Size, Color, ..."
  />

  <label for="variant-prop-name">Variant Property Name:</label>
  <input
    type="text"
    class="form-control"
    name="variant-prop-name"
    [value]="propName"
    (change)="propName = $event.target.value"
    placeholder="Big, Medium, Red, Blue, ..."
  />

  <label for="variant-prop-value">Variant Property Value:</label>
  <input
    type="text"
    class="form-control"
    name="variant-prop-value"
    [value]="propPrice"
    (change)="propPrice = $event.target.value"
    placeholder="10$"
  />

  <div class="variant-prop-img-ct">
    <label>
      Variant Image:
      <button (click)="open(content)">+</button>
    </label>

    <img *ngIf="propImgUrl" [src]="propImgUrl" alt="prop-img-url">

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          X
        </button>
      </div>
      <div class="modal-body">
        <div class="imgs-ct">
          <img
            *ngFor="let imgItem of imgs; index as i"
            class="prop-img-item"
            [src]="imgItem"
            alt="user-img"
            (click)="propImgUrl = imgItem; modal.dismiss('Cross click')"
          />
        </div>

        <form>
          <input
            type="file"
            name="prod-img"
            id="prod-img"
            multiple
            accept="image/*"
            (change)="onFileChange($event)"
          />
          <button class="btn btn-primary" (click)="addVariantPropImg()">
            Upload Images
          </button>
        </form>
      </div>
    </ng-template>
  </div>

  <button (click)="addVariantProp()">Add</button>
</div>
