<div class="variant-model">
  <label for="variant-name">Variant Name:</label>
  <input
    type="text"
    class="form-control"
    name="variant-name"
    placeholder="Size, Color, ..."
  />

  <label for="variant-prop-name">Variant Property Name:</label>
  <input
    type="text"
    class="form-control"
    name="variant-prop-name"
    placeholder="Big, Medium, Red, Blue, ..."
  />

  <label for="variant-prop-value">Variant Property Value:</label>
  <input
    type="text"
    class="form-control"
    name="variant-prop-value"
    placeholder="10$"
  />

  <div>
    <label for="variant-media">Variant Media: <button>+</button></label>
  </div>

  <button>Add</button>
</div>
