<div class="login">
  <form class="login-ct" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2 nz-typography>Login</h2>

    <div class="login-form">
      <input type="text" nz-input name="email" placeholder="Email" nzSize="large" autoComplete="email" formControlName="email" />
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="Password"
          formControlName="password" />
      </nz-input-group>

      <ng-template #suffixTemplate>
        <img [src]="passwordVisible ? '../../../assets/svgs/eye.svg' : '../../../assets/svgs/eye-crossed.svg' "
          style="height: 17px; width: 17px;" alt="show password icon" (click)="passwordVisible = !passwordVisible">
      </ng-template>

      <button nz-button nzType="primary" type="submit" class="login-btn" (click)="login()">Login</button>
    </div>


    <div class="gg-login-ct">
      <h5 nz-typography>OR</h5>
      <button nz-button nzType="default">
        <img src="../../../assets/svgs/google.svg" alt="google"
          style="width: 25px; height: 25px; margin-right: 10px;" />
        <span>Continue with Google</span>
      </button>

    </div>

    <div class="login-term-container">
      <div class="term">
        <span>By continuing with Shopeeholic, you agreed with </span>
        <span>Terms of Service, Privacy Policy</span>
      </div>
      <nz-divider></nz-divider>
      <p>Not on Shopeeholic yet? Sign up</p>
    </div>

  </form>
</div>