<div class="edit-prod">
  <app-navbar></app-navbar>
  <main>
    <div class="prod-modal-ct">
      <div class="prod-modal-layout">
        <label>Name: </label>
        <input
          class="form-control"
          type="text"
          [value]="currentProd?.name"
          (change)="currentProd.name = $event.target.value"
        />

        <label>Price: </label>
        <input
          type="number"
          class="form-control"
          min="0"
          [value]="currentProd?.price"
          (change)="currentProd.price = $event.target.value"
        />

        <label>Discount (%): </label>
        <input
          type="number"
          class="form-control"
          min="0"
          max="100"
          [value]="currentProd?.discount"
          (change)="currentProd.discount = $event.target.value"
          />

          <label
          >Variants:
          <img
          class="add-variant-btn"
          (click)="openVariantModal = !openVariantModal"
          [src]="
          openVariantModal
          ? '../../../assets/svgs/close.svg'
          : '../../../assets/svgs/add.svg'
          "
          alt="add-variant"
          /></label>
          
          <app-variant-model
          *ngIf="openVariantModal"
          [variantName]="variantName"
          [propName]="propName"
          [propPrice]="propPrice"
          [propImgUrl]="propImgUrl"
          (closeModalEvent)="closeModal($event)"
          ></app-variant-model>
          
          <div *ngFor="let vrt of currentProd.variants | keyvalue; index as i">
            <div class="variant-item-ct" [id]="vrt.key + '-' + i + '-variantCt'">
              <b [innerText]="vrt.key"></b>
              <div
              class="variant-prop-ct"
              *ngFor="let varProp of vrt.value; index as y"
              draggable="true"
              (drop)="dropMedia($event)"
              (dragover)="allowDrag($event)"
              (dragstart)="dragMedia($event)"
              [id]="vrt.key + '-' + y + '-variantItem'"
              >
              <span [innerText]="varProp.propName"></span>
              <span [innerText]="varProp.propPrice + '$'"></span>
              <img
              [src]="varProp.propImgUrl"
              alt="prop-img"
                draggable="false"
                />
                <img
                (click)="removeVariant(vrt.key, y)"
                src="../../../assets/svgs/delete.svg"
              alt="del-variant"
              />
            </div>
          </div>
        </div>
      </div>
      
      <div class="prod-modal-layout">
        <button
          (click)="editProd()"
          [innerText]="savingChange ? 'Saving ...' : 'Save'"
          [disabled]="savingChange"
          class="save-change-btn"
        ></button>
        <label>Category: </label>
        <select
          class="form-control"
          [value]="currentProd?.category"
          (change)="currentProd.category = $event.target.value"
        >
          <option value="book">book</option>
          <option value="technology">technology</option>
          <option value="food">food</option>
        </select>

        <label>Manufacturer: </label>
        <input
          class="form-control"
          type="text"
          [value]="currentProd?.manufacturer"
          (change)="currentProd.manufacturer = $event.target.value"
        />

        <label>Description: </label>
        <textarea
          class="form-control"
          rows="5"
          [value]="currentProd?.description"
          (change)="currentProd.description = $event.target.value"
        ></textarea>
      </div>
    </div>
  </main>
</div>
