@import "../../../styles/colors";

.product-modal-ct {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;

  .product-modal-layout {
    display: flex;
    flex-direction: column;
    flex: 1;
    
    padding: 10px;
    
    label {
      font-weight: bold;
      margin-top: 10px;

      .add-variant-btn {
        height: 20px;
        width: 20px;
        cursor: pointer;
      }
    }

    .prod-img-ct {
      height: 300px;
      width: 100%;

      position: relative;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      transition: 0.5s ease;
      backface-visibility: hidden;

      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }

      .middle {
        position: absolute;
        top: 50%;
        left: 50%;

        height: 100px;
        width: 100px;

        text-align: center;

        opacity: 0;

        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        transition: 0.5s ease;

        &:hover {
          opacity: 1;
        }
      }
    }

    .save-change-btn {
      width: fit-content;
      display: flex;
      align-self: flex-end;
      font-weight: bold;
    }

    .variant-item-ct {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      .variant-prop-ct {
        margin-left: 20px;
        flex: 1;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;

        &:hover {
          background: $pink;
          border-radius: 5px;
        }

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
