<div class="prod-modal-ct">
  <div class="prod-modal-layout">
    <form>
      <label>Name: </label>
      <input
        class="form-control"
        type="text"
        [value]="currentProd.name"
        (change)="currentProd.name = $event.target.value"
      />
    </form>

    <form>
      <label>Price: </label>
      <input
        type="number"
        class="form-control"
        min="0"
        [value]="currentProd.price"
        (change)="currentProd.price = $event.target.value"
      />
    </form>
    <form>
      <label>Discount (%): </label>
      <input
        type="number"
        class="form-control"
        min="0"
        max="100"
        [value]="currentProd.discount"
        (change)="currentProd.discount = $event.target.value"
      />
    </form>

    <form>
      <label for="product-media">Media: </label>
      <input
        type="file"
        (change)="onFileChange($event)"
        name="product-media"
        id="product-media"
        multiple
      />
      <button (click)="onSubmit($event)">Upload Media</button>
    </form>

    <img
      [src]="currentProd.productImage[0]"
      alt="prod-media"
      style="height: 40px; width: 40px;"
    />
    <img
      [src]="currentProd.productImage[0]"
      alt="prod-media"
      style="height: 40px; width: 40px;"
    />
    <img
      [src]="currentProd.productImage[0]"
      alt="prod-media"
      style="height: 40px; width: 40px;"
    />
  </div>
  <div class="prod-modal-layout">
    <form>
      <label>Category: </label>
      <select
        class="form-control"
        [value]="currentProd.category"
        (change)="currentProd.category = $event.target.value"
      >
        <option value="book">book</option>
        <option value="technology">technology</option>
        <option value="food">food</option>
      </select>
    </form>
    <form>
      <label>Manufacturer: </label>
      <input
        class="form-control"
        type="text"
        [value]="currentProd.manufacturer"
        (change)="currentProd.manufacturer = $event.target.value"
      />
    </form>
    <form>
      <label>Description: </label>
      <textarea
        class="form-control"
        rows="5"
        [value]="currentProd.description"
        (change)="currentProd.description = $event.target.value"
      ></textarea>
    </form>
  </div>
</div>
<button>Add</button>
